@import "../../style.scss";

.sharee{

            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 50%;
            max-height: fit-content;
            z-index: 999;

        border-radius: 20px;
        background-color: $bg;
        color: $textColor;

        .container{
            padding: 20px;
                
            .top{

                display: flex;
                align-items: center;
                justify-content: space-between;

                .left{

                    display: flex;
                    align-items: center;
                    flex: 3;
                    gap: 10px;

                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    input{
                        width: 100%;
                        border: none;
                        color: $textColor;
                        background-color: transparent;
                        padding: 20px 0;
                    }
                }
                .right{
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    .file{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 0px;
                    }
                }

                
            }

            hr{
                margin-top: 30px;
                margin-bottom: 10px;
                border-bottom: 1px solid $border;
            }
            
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left{
                    .item{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        font-size: 14px;
                    }
                }
                .right{
                    button{
                        border: none;
                        padding: 10px;
                        border-radius: 5px;
                        background-color: $main;
                        color: white;
                        cursor: pointer;
                   }
                }
            }
        }
}