@import "../../style.scss";
    
.input{
      margin-bottom: 20px;
      display: flex;

      input{
        padding: 6px;
      }

      button{
        border-radius: 0px 5px 5px 0px;
        border: none;
        background-color: $main;
        color: white;
        cursor: pointer;
      }
    }

.tambah{
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
      cursor: pointer;

      .icon{
        color: $main;
      }
    }
