@import "../../style.scss";

.unduhLink{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    button{
        padding: 5px;
        border-radius: 5px;
        color: white;
        background-color: $main;
        border: none;
        cursor: pointer;
    }
}