@import "../../style.scss";


.homee{
    background-color: $bgSoft;
    padding: 80px 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .container{
      display: flex;
      flex-direction: column;
      position: relative;

      .tambah{
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        cursor: pointer;
        width: 80%;
        align-self: center;

        .icon{
          color: $main;
        }
      }
    }

    @include mobile{
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
}