@import "../../style.scss";


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 1px solid $border;
    font-family: sans-serif;
    position: sticky;
    top: 0;
    background-color: $bg;
    color: $textColor;
    z-index: 999;

    .left{
        display: flex;
        align-items: center;
        gap: 25px;
        
        span{
            font-weight: bold;
            font-size: 20px;
            color: $logo;
        }
        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid $border;
            border-radius: 5px;
            padding: 5px;

            input{
                border: none;
                width: 300px;
                background-color: transparent;
                color: $textColor;

                @include mobile{
                    display: none;
                }

                @include tablet{
                    width: 150px;
                }
            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            display: none;
        }
        
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            @include tablet{
                display: none;
            }

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;            
           }
        }
    }
}