@import "../../style.scss";


.laporan{
  background-color: $bgSoft;
  padding: 80px 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .menu{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    
    button{
      background-color: white;
      border: none;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: $main;
        color: white;
      }

    }
  }

  .konten{
    margin-bottom: 15px;

    .pilihAcara{
      
      select, button{
        padding: 10px;
        border-radius: 0;
        border: none;
      }

      button{
        background-color: salmon;
        color: white;
        border-radius: 0 5px 5px 0;
      }

      select{
        border-radius: 5px 0 0 5px;
      }
    }
  }
}