@import "../../style.scss";


.absensiMenu{
  background-color: $bgSoft;
  padding: 80px 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .menu{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    
    button{
      background-color: white;
      border: none;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: $main;
        color: white;
      }

    }
  }
}